
body{
  background-image: linear-gradient(45deg, rgba(235, 235, 235, 0.05) 0%, rgba(235, 235, 235, 0.05) 47%,rgba(69, 69, 69, 0.05) 47%, rgba(69, 69, 69, 0.05) 100%),linear-gradient(45deg, rgba(231, 231, 231, 0.07) 0%, rgba(231, 231, 231, 0.07) 35%,rgba(63, 63, 63, 0.07) 35%, rgba(63, 63, 63, 0.07) 100%),linear-gradient(135deg, rgba(34, 34, 34, 0.03) 0%, rgba(34, 34, 34, 0.03) 21%,rgba(104, 104, 104, 0.03) 21%, rgba(104, 104, 104, 0.03) 100%),linear-gradient(45deg, rgba(231, 231, 231, 0.02) 0%, rgba(231, 231, 231, 0.02) 59%,rgba(136, 136, 136, 0.02) 59%, rgba(136, 136, 136, 0.02) 100%),linear-gradient(90deg, rgba(142, 142, 142, 0.08) 0%, rgba(142, 142, 142, 0.08) 99%,rgba(105, 105, 105, 0.08) 99%, rgba(105, 105, 105, 0.08) 100%),linear-gradient(135deg, rgba(137, 137, 137, 0.05) 0%, rgba(137, 137, 137, 0.05) 57%,rgba(49, 49, 49, 0.05) 57%, rgba(49, 49, 49, 0.05) 100%),linear-gradient(45deg, rgba(38, 38, 38, 0.06) 0%, rgba(38, 38, 38, 0.06) 48%,rgba(89, 89, 89, 0.06) 48%, rgba(89, 89, 89, 0.06) 100%),linear-gradient(90deg, hsl(255,4%,63%),hsl(255,4%,63%));
  background-repeat: no-repeat;
  min-height: calc(100vh - 50px);
  box-sizing: border-box;
}.container {
  border-radius: 10px;
  padding: 30px 20px 50px 20px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  background-color: #ffffff;
}
.get-task-title,
.get-task-des {
  background-color: #ffffff;
}
.accordion-button-container {
  position: relative;
  align-items: center;
  background-color: #ffffff;
}

.delete-btn {
  position: absolute;
  right: 3rem;
  top: 25%;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 15px;
}

.task-id {
  margin-right: 10px;
  margin-left: -10px;
  font-weight: bold;
  font-size: 14px;
  background-color: #ffffff;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 15px;
  border-radius: 5px;
}


